.nav {
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-white);
  transition: 0.3s all;
}

.fixed {
  position: fixed;
  transition: 0.3s all;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
  list-style: none;
}

.categories__item {
  margin-bottom: 10px;

  & .active {
    color: var(--color-pink);
    border-bottom: 1px solid var(--color-pink);
  }
}

.categories__item a {
  cursor: pointer;
  color: var(--color-grey);
  margin-right: 10px;
  padding-bottom: 5px;

  &:hover {
    color: var(--color-pink);
  }
}
